.tarjeta__pasaje{

        display:flex;
        background-color: #C7CCF2;
        flex-flow: column wrap;
        gap: 1rem;
      
    
}
.pasaje__conjunto{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A7ACCC;

}

.pasaje__titulo{

    margin: auto;
    padding: 1rem 0;
    text-align: center;
    color:#545666;
    font-weight: 700;
}

.pasaje__conjuntos{

    display: flex;
    margin: 0 1rem;
}

